@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'

// Set your brand colors
$fsblue: #00C0F3;
$fslightblue: #10375B
$fsred: #E92048
$fsyellow: #FFDA0A
$fsgreen: #6BE23C

// Update Bulma's global variables
$primary: $fsblue
$danger: $fsred
$success: $fsgreen
$link: $fslightblue
$info: $fsyellow

$footer-padding: 1rem 1.5rem 1rem
$footer-background-color: $fsblue

@font-face
  font-family: StarJedi
  src: url('fonts/starjedi.ttf') format('truetype');

$family-secondary: StarJedi

// The snackbar - position it at the bottom and in the middle of the screen
.snackbar
  z-index: 100; // Add a z-index if needed
  left: 50%;
  transform: translateX(-50%);
  // Add animation: Take 0.5 seconds to fade in and out the snackbar.
  // However, delay the fade out process for 2.5 seconds
  -webkit-animation: fadein 0.5s
  animation: fadein 0.5s
  top: 2vh
  padding-left: 5rem !important
  padding-right: 5rem !important

// Animations to fade the snackbar in and out
@-webkit-keyframes fadein
  from {top: 0; opacity: 0;}
  to {top: 2vh; opacity: 1;}

@keyframes fadein
  from {top: 0; opacity: 0;}
  to {top: 2vh; opacity: 1;}


.Site
	display: flex
	min-height: 100vh
	flex-direction: column
.Site-content
	flex: 1


@import 'bulma'
@import 'bulma-tooltip'
@import 'bulma-divider'
@import 'bulma-checkradio'
@import 'bulma-switch'
@import '@creativebulma/bulma-badge'
