@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'

// Set your brand colors
$fsblue: #10375B;
$fslightblue: #447AC5
$fsred: #E92048
$fsyellow: #FFDA0A
$fsgreen: #6BE23C

// Update Bulma's global variables
$primary: $fsblue
$danger: $fsred
$success: $fsgreen
$link: $fslightblue
$info: $fsyellow

$footer-padding: 1rem 1.5rem 1rem
$footer-background-color: $fsblue

// .Site
// 	display: flex
// 	min-height: 100vh
// 	flex-direction: column
// .Site-content
// 	flex: 1


@import 'bulma'
@import 'bulma-tooltip'
@import 'bulma-divider'
@import 'bulma-checkradio'
@import 'bulma-switch'
