@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'

// Set your brand colors
$fsblue: #10375B;
$fslightblue: #6777EF
$fsred: #EE7764
$fsyellow: #FFDE58
$fsgreen: #8FD51D

// Update Bulma's global variables
$primary: $fsblue
$danger: $fsred
$success: $fsgreen
$link: $fslightblue
$info: $fsyellow

$footer-padding: 1rem 1.5rem 1rem
$footer-background-color: $fsblue

@import 'bulma'
