<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="lecture-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  
    <%= label f, :module_number %>
    <%= text_input f, :module_number %>
    <%= error_tag f, :module_number %>
  
    <%= label f, :published %>
    <%= checkbox f, :published %>
    <%= error_tag f, :published %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
